################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Oblio/.vs/Oblio/v16
/Oblio/.vsconfig
